/* Sets the box size calculation to include padding/borders */
* {
    box-sizing: border-box;
}

/* A list of variable for values repeadted several times */
:root {
    --light:#489b8b;
    --turquoise: #2aefcb;
    --white:#fff;
    --grey: #b6b6b6;
    --background-color: #33393f;
    --background-gradient: #19413a;
}

/* Set basic font/background for the entire page */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);  
}

/* Header Section */
header {
    text-align: center;
    margin: 0 auto;
}

header h1 {
    font-size: 2.2rem;
    color: var(--turquoise);
}

header p {
    color: var(--white);
    margin: 20px 30px 30px 30px;
}

/* Main Content Section */
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

/* Card Styling - Dashed border around the edge */
.card {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    outline: 2px dashed var(--white);
    outline-offset: -2px;
    padding: 0px 10px 10px 10px;
    margin: 20px 5px;
    min-width: 100px;
    width: 32%;
}

/* Changed the colour, size and alignment of the <p> tag in the card section */
.card p {
    color: var(--grey);
    font-size: 13px;
    text-align: center;
}

/* Styling for the header of the card, making the position sit on the card border */
.card-header {
    position: relative;
    margin: -20px 10px 0px 10px;
    z-index: 1;
    color: var(--white);
    background-color: var(--background-color);
    border: 1px solid var(--turquoise);
    border-radius: 6px;
    padding: 8px 10px 8px 10px;
    font-size: 1.6rem;
    text-align: center;
}

/* Added a transition effect when the cards/card-header loads */
.card, .card-header{
    transition: all 0.5s ease-in-out;
}

/* Box shadow for when the user hovers over the card/card-header */
.card:hover, .card:hover .card-header {
    box-shadow: 0px 0px 10px var(--turquoise);
}

/* Styling for section that holds the code - added a gradient background and centered the content */
.code-snippet {
    border-radius: 10px;
    background: linear-gradient(var(--background-gradient),var(--light));
    color: var(--white);
    justify-content: center;
    border: 1px solid #489b8b;
}

/* Ensuring the code has the correct styling such as line-height/how the white-space is handled */
.code-snippet pre {
    padding: 0 10px;
    white-space: pre-wrap;
    line-height: 1.5;
    overflow: auto;
    border-radius: 8px;
}

/* When the user selects the code it highlights it all */
.code-snippet pre:hover {
    user-select:all;
}

/* Selects the last child to grow to full width if it has space to grow */
.card .code-snippet {
    flex-grow: 1;
}

/* Footer Section */
footer {
    text-align: center;
    color: var(--light);
    padding: 10px;
}

footer h3 {
    font-size: 1.5rem;
}

/* Media Queries for responsive styling */
@media screen and (max-width: 992px) {
    .card {
        width: 48%;
        justify-content: space-between;
    }
  }

  @media screen and (max-width: 768px) {
    .card {
      width: 98%;
    }
  }